
/*页眉部分*/
header{
	width: 980px;
}
header ul li.hide{
	display: none;
}
header nav ul li{
	float: left;
	text-align: center;
	line-height: 60px;
	background-color: orange;
	padding: 0 20px;
}

/*主体部分*/
section{
	width: 980px;
	height: 700px;
}